@model PlantItOut.ViewModels.AddPlantCategoryViewModel

<h1>Add New Plant Category</h1>

<form asp-controller="PlanttCategory" asp-action="ProcessCreatePlantCategoryForm" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Plant Category" />
</form>
