@model PlantItOut.ViewModels.PlantDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>@Model.Category</td>
    </tr>
    <tr>
        <th>Tags</th>
        <th>@Model.TagText</th>
    </tr>
</table>

@*
Figure out how to add a comment option underneath 
the available plant details so that a user can add and see 
previous care tips that have been shared on each plant.
*@  

<h3>Community CareTips</h3>
