@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Plant it out!</h1>
    <h2 class="display-4">Where you can find the perfect plant for you!</h2>
</div>