@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-">Welcome to Plant it out!</h1>
    <h3 >Where you can find the perfect plant for you!</h3>
    <br>
    <img src="https://media.newyorker.com/photos/5b916c145803be2dae346a88/4:3/w_1703,h_1277,c_limit/Ciccone-Houseplants-Judging-You.jpg" width="800" height="600" />
</div>

