@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Capstone Project for LaunchCode LiftOff Program! (Amelia Saylor)</p>
<p>Use this page to detail your site's privacy policy.</p>