@model PlantItOut.ViewModels.SearchPlantViewModel

<div class="container body-content">

    <h1>Find your perfect Plant!</h1>
    <div>
        <form asp-controller="Search" asp-action="Results" method="post">
            <div>
                <h6>Search by Tag</h6>
                @foreach(Tag tag in Model.Tags)
                {
                    <label asp-for="Tags">@tag.Name</label>
                    <input type="checkbox" name="selectedTags" value="@tag.Id">
                }
            </div>
            <br>
            <h6>OR</h6>
            <br>
            <div>
                <h6>Search By Name</h6>
                <input type="text" name="PlantName" id="PlantId" />
            </div>
            <input type="submit" value="Find Plants" />
        </form>
    </div>
</div>
