

<p>
    <a asp-controller="Tag" asp-action="Add">Add a plant Tag</a>
</p>

<p>
    <a asp-controller="PlantCategory" asp-action="Create">Create a Category</a>
</p>

<p>
    <a asp-controller="Plant" asp-action="Add">Add A Plant</a>
</p>

<p>
    <a asp-controller="Plant" asp-action="Delete">Delete A Plant</a>
</p>