@model List<PlantItOut.Models.Tag>

<h1>Delete Tag</h1>

<form asp-controller="Tag" asp-action="Delete" method="post">

        @foreach (Tag tag in Model)
        {
            <div class="form-group">
                <span>@tag.Name</span>
                <input type="checkbox" name="tagIds" value="@tag.Id" class="form-control">
            </div>
        }
    <input type="submit" value="Delete Tag" />
</form>